@import "tailwindcss";

@theme {
  --font-montserrat: var(--font-montserrat), ui-sans-serif, system-ui;
  --font-space: var(--font-space-grotesk), sans-serif;
  --font-clash: var(--font-clash-grotesk), sans-serif;

  --width-container: 1336px;
}

@layer base {
  .container {
    max-width: var(--width-container);
    margin-inline: auto;
  }
}

:root {
  --background: #000;
  --foreground: #FFFFFF;
}

body {
  background: var(--background);
  color: var(--foreground);
}
